header {
    background-color: rgb(59, 131, 131);
    color: black;
}

body {
    background-color: black;
    color: white;
}

footer {
    background-color: rgb(54, 121, 121);
    color: black;
}

.imagem-2 {
    width: 40%;
    align-items: center;
    margin-left: 200px;
}